---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const crumbs = [
    {
        name: "home",
        link: "/",
        disabled: false,
    },
    {
        name: "portfolio",
        link: "/portfolio",
        disabled: true,
    },
];

const frontend = await getCollection("frontend");
const desktopApps = await getCollection("desktopApps");
const cliApps = await getCollection("cliApps");

interface Entery {
    id: string,
    data: {
        name: string,
        description: string[]
        link: URL,
        github: URL | string
    }
}
---

<Layout title="home" crumbs={crumbs}>
    <h1 class="title">My Portfolio</h1>
    <p>My portfolio is a combination of programming and design projects, the websites are a combination of both.
        I tend to make things that I am interested in or serve a personal need, even the websites I build for
        the NGO I worked for I build as an initiative from me. I consider programming like any other skill I have.
        For example, I do some woodworking from time to time, but only when I am building something I need or want to make.
        I hope you find something useful and joyful to use for yourself in this page.</p>
        <ul class="page-nav">
        <li><a href="#frontend">Front end</a></li>
        <li><a href="#desktop">Desktop apps</a></li>
        <li><a href="#cli">CLI tools</a></li>
    </ul>
    <h2 class="subtitle" id="frontend">front end</h2>
    <ul>
        {
            frontend.map((entery: Entery) => (
            <a href={entery.data.link} target="_blank"><h3>{entery.data.name}</h3></a>
            <div>{ entery.data.github != "private" ? <a class="github" href={entery.data.github} target="_blank">Source code</a> : ""}</div>
            <ul>
                {
                    entery.data.description.map((feature: string) => (
                    <li>{feature}</li>
                    ))
                    }
                </ul>
            ))
        }
    </ul>
    <h2 class="subtitle" id="desktop">desktop apps</h2>
    <ul>
        {
            desktopApps.map((entery: Entery) => (
                <a href={entery.data.link} target="_blank"><h3>{entery.data.name}</h3></a>
                <a class="github" href={entery.data.github} target="_blank">Source code</a>
                <ul>
                {
                    entery.data.description.map((feature: string) => (
                    <li>{feature}</li>
                    ))
                    }
                </ul>
                ))
        }
    </ul>
    <h2 class="subtitle" id="cli">CLI tools</h2>
    <ul>
        {
            cliApps.map((entery: Entery) => (
            <div class="card">
                <a href={entery.data.link} target="_blank"><h3>{entery.data.name}</h3></a>
                <ul>
                {
                    entery.data.description.map((feature: string) => (
                    <li>{feature}</li>
                    ))
                    }
                </ul>
            </div>
            ))
        }
    </ul>
</Layout>

<style>
    .github {
        display: block;
        font-size: var(--fs-xs);
        color: var(--on-surface);
        font-style: italic;
        padding-block-end: 0.4rem;
    }

    a {
        display: flex;
        align-items: baseline;
    }

    a[href^="https://"]:after {
        content: "🔗";
        margin: 0 0 0 5px;
    }

    p:first-of-type {
        padding-block-end: 1rem;
    }
</style>
